@using TravelTripProject.Models.Classes
@model List<TravelTripProject.Models.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayOut.cshtml";
}

<h2>Blog List</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>DETAILS</th>
    </tr>
    @foreach (var x in Model)
    {
     <tr>
         <th>@x.Id</th>
         <th>@x.Title</th>
         <th><a href="/AdminPanel/DeleteBlog/@x.Id" class="btn btn-danger">Delete</a></th>
         <th><a href="/AdminPanel/BringBlog/@x.Id" class="btn btn-warning">Update</a></th>
         <th><a href="/Blog/BlogDetail/@x.Id" class="btn btn-default">Details</a></th>

     </tr>
     }
</table>
<a href="/AdminPanel/NewBlog/" class="btn btn-primary">New Blog</a>
